@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Amatic SC', cursive;
}
body{
    background-color: #FFEEE6;
}
.images {
    display: grid;
    grid-template-columns: 99px 100px 100px;
    grid-gap: 125px;
    justify-content: center;
    padding: 30px;
    margin: auto;
    align-items: center;
    max-width: 800px;
    border-radius: 50px;
    background-color: #FFDACC;
    align-content: center;
    justify-items: center;
    min-width: 470px;
}
.images > img{
    min-width: 16px;
    max-width: 800px;
    object-fit: cover;
    flex-wrap: wrap;
}
header>img {
    width: 62px;
    rotate: 20deg;
    animation: heart infinite 2s ease-in-out;
}
header{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(0px 0px 10px black);
    font-variant: small-caps;
    font-size: 32px;
}
.images > img:hover{
    transition: 1s ease-in-out;
    box-shadow: 0px 0px 10px rgba(255, 192, 203, 0.322);
    cursor: pointer;
    animation: img-y 1s ease-in-out;
}
@keyframes img-y {
    0%{
        transform: translateY(0%);
    }
    50%{
        transform: translateY(10%);
    }
    100%{
        transform: translateY(0%);
    }
}
@keyframes heart {
    0% {
        transform: scale(100%);
        transform: rotate(360deg);
        filter: drop-shadow(0px 0px 0px palevioletred);
    }

    50% {
        transform: scale(110%);
        transform: rotate(160deg);
        filter: drop-shadow(0px 0px 10px palevioletred);
    }

    100% {
        transform: scale(100%);
        filter: drop-shadow(0px 0px 0px palevioletred);
    }
}

.images>img {
    width: 190px;
    display: block;
    border-radius: 20px;
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.459));
}

footer {
    text-align: center;
    font-size: 32px;
}
footer > p > a{
    text-decoration: none;
    color: palevioletred;
    filter: contrast(200%);
    text-shadow: 0px 0px 10px black;
}
footer > p > a:hover{
    text-decoration: underline;
}
main{
    max-width: 1440px;
}